<div
  class="container"
  style="
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    font-family: 'PT Sans', sans-serif;
    margin: 1rem;
  "
>
  <div class="title" style="font-size: 20px; font-weight: bolder; margin-bottom: 0.2rem">
    Registro exitoso
  </div>
  <div class="subtitle" style="font-size: 15px; font-weight: lighter; margin-bottom: 0.7rem">
    Notificación generada automaticamente
  </div>
  <div class="body">
    <span>
      Estimado usuario <span style="text-transform: capitalize">{{first_name}} {{last_name}}</span>,
      su registro como rol de {{rol}} ha sido exitoso en la plataforma Helptutor, recuerde que sí
      hizo su registro via Google, puede modificar su contraseña por medio de este link
      <a href="https://google.com" target="_blank">https://google.com</a>
    </span>
  </div>
</div>
