<div
  class="container"
  style="
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    font-family: 'PT Sans', sans-serif;
    margin: 1rem;
  "
>
  <div class="title" style="font-size: 20px; font-weight: bolder; margin-bottom: 0.2rem">
    Asesoria solicitada
  </div>
  <div class="subtitle" style="font-size: 15px; font-weight: lighter; margin-bottom: 0.7rem">
    Notificación generada automaticamente
  </div>
  <div class="body">
    <span>
      Estimado usuario <span style="text-transform: capitalize">{{first_name}} {{last_name}}</span>,
      se ha solicitado y pagado el servicio {{service}}.
      <a href="https://helptutor.netlify.app" target="_blank">Helptutor App</a>
    </span>
  </div>
</div>
