:root {
  --neutro: white;
  --color-gray: #e1e1e1;
  --color-primary: #1190cb;
  --color-subprimary: rgba(17, 144, 203, 0.75);
}

#app {
  background: var(--color-gray);
}

.hidden {
  display: none;
}

/* main-layout */
.main-layout > div {
  margin: 1rem;
  padding: 1rem;
  background: var(--neutro);
  border-radius: 10px;
}

.nav-lateral {
  width: 30%;
}

.body {
  width: 100%;
}
/* main-layout */

.title-component {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.progress {
  width: 100%;
  position: fixed;
  z-index: 1051;
}

/* list */
.item-list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
/* list */

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-list {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.btn-primary {
  background: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

/* Autocomplete */
.MuiAutocomplete-root {
  width: inherit !important;
  padding: 0;
}

.MuiInputBase-input {
  padding: 0 !important;
  padding-right: 60px !important;
}

.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] {
  padding: 6px !important;
}
/* Autocomplete */

.navbar-menu {
  flex-direction: row;
}

.navbar-main {
  background: var(--neutro);
}

.navbar-submain {
  background: var(--color-subprimary);
}

.navbar-submain a {
  color: var(--neutro);
}

.navbar-submain a:hover {
  font-weight: bolder;
}

/*Juan David*/

.item-offer{
    justify-content: space-between;
    background: var(--color-gray);
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1.5rem 0.8rem 1.5rem 1.5rem;

}

.offer-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-title{
  font-weight: bolder;
  text-transform: capitalize;
}

.offer-view{
  display: flex;
  align-items: center;
}


